.product-filter-group {
    display : block;
    margin  : 0 0 25px;
}

.product-filter-group__section_header {
    margin-bottom : 5px;
}

.product-filter-group__section_description {
    display : none;
}

.product-filter-group__title {
    display     : inline;
    font-size   : 16px;
    line-height : 1.2;
    font-weight : 700;
    color       : #000;
}
